"*":
  "autocomplete-plus":
    minimumWordLength: 2
  core:
    customFileTypes:
      "source.typoscript": [
        "typoscript"
      ]
    disabledPackages: [
      "spell-check"
      "welcome"
      "platformio-ide-terminal"
    ]
    excludeVcsIgnoredPaths: false
    packagesWithKeymapsDisabled: [
      "platformio-ide-terminal"
    ]
    projectHome: "~/Projekte/"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "chester-atom-syntax"
    ]
  docblockr:
    param_description: false
    return_description: false
    spacer_between_sections: "after_description"
  editor:
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    tabLength: 4
  "file-types":
    "(setup|constants|tsconfig|ext_conf_template|ext_typoscript_(setup|constants))\\.txt$": "source.typoscript"
    txt: "text.plain"
  "git-blame":
    columnWidth: 371
  "linter-php": {}
  "linter-ui-default":
    panelHeight: 118
  "one-dark-ui": {}
  "php-debug":
    PathMaps: [
    ]
    PhpException:
      CatchableFatalError: false
      Deprecated: false
      FatalError: false
      Notice: false
      ParseError: false
      StrictStandards: false
      UnknownError: false
      Warning: false
    SortArray: true
    currentPanelHeight: "329px"
    currentPanelMode: "bottom"
    currentPanelWidth: "486px"
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#3a3e42"
        blue: "#507287"
        cyan: "#5f8f8b"
        green: "#a0a459"
        magenta: "#856389"
        red: "#943432"
        white: "#e0b15f"
      zBright:
        brightBlack: "#2f3236"
        brightBlue: "#507287"
        brightCyan: "#5f8f8b"
        brightGreen: "#a0a459"
        brightMagenta: "#856389"
        brightRed: "#c4c7c4"
        brightYellow: "#e0b15f"
    core:
      mapTerminalsTo: "Folder"
      workingDirectory: "Active File"
    style: {}
    toggles:
      runInsertedText: false
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  tabs:
    enableVcsColoring: true
  "terminal-plus":
    core:
      autoRunCommand: "/bin/bash"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
